* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

/* Header - Nav */

.navbar,
.dropdown-menu {
  background-color: rgb(26, 25, 25);
  justify-content: space-between;
  border-bottom: 2px solid #00fd2a;
}

.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:focus {
  background: rgb(36, 36, 36);
}

.navText,
.nav-link {
  color: white !important;
}

.navText:hover,
.nav-link:hover,
.navText:focus,
.nav-link:focus,
.navText:active,
.nav-link:active {
  color: rgb(74, 223, 101) !important;
}

.active {
  color: white !important;
}

.navLogo {
  background-image: url(../assets/logo/navLogo.svg);
  background-repeat: no-repeat;
  width: 17em;
  height: 2.4em;
  margin-right: 1%;
}

.navLogo:hover {
  background-image: url(../assets/logo/navLogoHover.svg);
  transition: 0.2s;
}

#navSearch {
  box-shadow: none;
  border: rgba(40, 170, 64, 0.637) 2px solid;
}

.searchBtn {
  border: none;
  width: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchBtn:hover,
.searchBtn:focus,
.searchBtn:active,
.searchBtn:visited {
  background-color: rgba(97, 97, 97, 0.466);
}

.searchIcon {
  color: rgb(74, 223, 101);
  width: 1.5em;
  height: 1.5em;
}

.navCartIcon {
  color: rgb(255, 255, 255);
  width: 3em;
  height: 3em;
  border-right: solid 2px white;
  padding-right: 1em;
}

.navCartDiv {
  display: flex;
  align-items: center;
  margin-right: 3%;
}

.navCartIcon:hover {
  color: rgb(74, 223, 101);
}

.qty-display {
  display: inline-block;
  color: rgb(26, 25, 25);
  width: 18px;
  height: 18px;
  background-color: #00fd2a;
  border-radius: 50%;
  font-size: 12px;
  position: absolute;
  text-align: center;
  line-height: 17px;
  margin-left: -2em;
}

/* Main - Product Section */

body {
  background: #313030;
  background: radial-gradient(circle, #084e14 5%, #313030 80%);
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 100;
}

.productSection {
  display: flex;
  flex-flow: wrap row;
  align-items: center;
  width: 75%;
  justify-content: center;
}

.productCard {
  background-color: #1a1919;
  color: white;
  width: 18em;
  height: 25em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 0px 11px 4px #202020;
  transition: 0.5s;
}

.productCard:hover {
  box-shadow: 0px 0px 11px 4px #00fd2a;
  transition: 0.5s;
}

.productImage {
  width: 9em;
  height: 9em;
  margin: 15%;
}

.productStock {
  position: absolute;
  text-align: center;
  top: 3%;
  margin-left: -55%;
  border-radius: 6px;
  background: linear-gradient(90deg, #00fd2a 0%, #0d9668 100%);
  font-weight: 900;
  width: 89px;
  font-size: 1em;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
.productContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productTitle {
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  height: 4em;
}

.priceTag {
  color: #00fd2a;
  font-weight: 900;
  text-align: center;
}

.productViewBtn {
  background: linear-gradient(60deg, #00fd2a 0%, #0d9668 100%);
  transition: 0.3s;
  border: none;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  color: white;
  font-size: 1.2em;
}

.productViewBtn:hover {
  background-color: #00fd2a;
  scale: 1.1;
  transition: 0.3s;
}

.productViewBtn:active {
  background-color: rgba(97, 97, 97, 0.466) !important;
}

.productViewBtn:hover,
.productViewBtn:focus {
  color: white !important;
}

/* Products - Detail Section */

.detailMainContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.detailCard {
  margin-top: 2%;
  background-color: #1a1919;
  border: solid #24232352 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 5% 5% 0% 5%;
}

.detailTitle {
  color: white;
  font-weight: 900;
  font-size: 2em;
  color: white;
  text-shadow: -1px 0 #000, 0 3px #000, 1px 0 #000, 0 -1px #000;
}

.detailContent {
  display: flex;
  margin-top: 1%;
  border-top: #00fd2a 3px solid;
}

.detailImage {
  width: 60%;
  display: flex;
  border-right: #31303083 3px solid;
  padding: 5%;
}

.detailAvailability {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 1%;
  margin-top: 4%;
}

.detailTextDiv {
  border-top: #24232352 4px solid;
}

.detailTextDiv:first-child {
  border-top: none;
}

.detailContentText {
  color: white;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  padding-top: 1em;
  font-size: 1.1em;
}

.detailPriceSimbol {
  color: rgb(245, 65, 65);
}

.detailContentSpan {
  color: #00fd2a;
  font-weight: 800;
}

.detailContentTextShip {
  font-size: 1em;
  color: rgb(207, 207, 207);
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  margin-top: -4%;
}

.detailDescriptionDiv {
  border-top: #00fd2a 3px solid;
  padding-top: 5%;
}

.detailDescriptionTitle {
  color: white;
  text-shadow: -1px 0 #000, 0 3px #000, 1px 0 #000, 0 -1px #000;
  font-weight: 900;
  font-size: 1.5em;
}

.shopIcon {
  height: 2em;
  width: 2em;
}

.countContainer {
  border-top: #00fd2a 3px solid;
  border-bottom: #00fd2a 3px solid;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.countBtn {
  width: 2em;
  height: 2em;
}

.countBtn:hover {
  scale: none;
}

.countText {
  color: white;
  text-shadow: -1px 0 #000, 0 3px #000, 1px 0 #000, 0 -1px #000;
}

.addToCartBtn {
  margin-top: 5%;
  margin-bottom: 5%;
}

/* cartContainer */

.cartMainContainer {
  display: flex;
  width: 100%;
  margin-bottom: 2%;
  flex-direction: row;
  justify-content: space-around;
}

.productsCartContainer {
  background-color: #1a1919;
  color: white;
  display: flex;
  margin-top: 2%;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 0px 11px 4px #202020;
  align-content: flex-end;
  align-items: center;
  justify-content: space-evenly;
}

.cartProductImg {
  width: 6em;
  height: 6em;
  border-radius: 10px;
  padding: 1%;
  border: solid #00fd2a 1px;
}

.cartProdTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartProductTitle {
  font-size: 1.2em;
  text-align: center;
}

.productsCartSecondContainer {
  display: flex;
  width: 55em;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-around;
}

.orderCartSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.orderCard {
  background-color: #1a1919;
  color: white;
  margin-top: 2%;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 0px 11px 4px #202020;
  display: flex;
  flex-direction: column;
}

.h3Order {
  text-align: center;
}

.cartTotalDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonsDiv {
  display: flex;
}

.removeAllBtn {
  align-self: end;
  margin: 1%;
  width: 50%;
}

.removeAllBtn:hover {
  scale: 1.03;
}

/* Spiner */

.spinnerMainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.spinner-border-sm {
  --bs-spinner-width: 20em;
  --bs-spinner-height: 20em;
  --bs-spinner-border-width: 0.5em;
  color: #00fd2a;
}

.swal2-confirm,
.swal2-cancel {
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  transition: 0.3s;
  border: none;
  color: white;
  background: linear-gradient(60deg, #00fd2a 0%, #0d9668 100%) !important;
  border: solid 1px black;
  transition: 0.3s;
}

.swal2-confirm:hover,
.swal2-styled.swal2-cancel:hover {
  scale: 1.1;
  transition: 0.3s;
}

.swal2-popup .swal2-styled:focus {
  box-shadow: none !important;
}

.swal2-styled.swal2-cancel {
  background: linear-gradient(60deg, #fd0000 0%, #610707 100%) !important;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.swal2-modal {
  background-color: rgb(26, 25, 25);
  color: white;
}

.swal2-icon.swal2-success .swal2-success-ring {
  border-color:#00fd2a;
}

.swal2-icon.swal2-warning {
  border-color: #00fd2a;
  color: #00fd2a;
}

.Toastify__toast {
  color: white;
  background-color: rgb(26, 25, 25);
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}